body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
	.video-background{
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index:-1;
	}
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.event {
    background-color: #EEEEEE;
    padding: 1em;
    margin-bottom: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 1em;
}

.event h2 {
    font-weight: bold;
    margin-top: 0;
}

.event p {
    margin-bottom: 1em;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    clear: both;
}